<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Help Over Hate is an inventory of organizations fighting for the issues and populations Donald Trump vocally opposes.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@upstatement">
    <meta name="twitter:creator" content="@upstatement">
    <meta name="twitter:title" content="Help Over Hate">
    <meta name="twitter:description" content="Built for those devastated by the results of the U.S. Presidential election, Help Over Hate is an inventory of organizations fighting for the issues and populations Donald Trump vocally opposes. With our time, money, and voices, we need to protect the people he won't. Please share and contribute to this list – it's updated daily.">
    <meta name="twitter:image" content="http://helpoverhate.com/wp-content/themes/helpoverhate/src/static/img/twitter-card.jpg">

    <meta property="og:title" content="Help Over Hate" />
    <meta property="og:description" content="Built for those devastated by the results of the U.S. Presidential election, Help Over Hate is an inventory of organizations fighting for the issues and populations Donald Trump vocally opposes. With our time, money, and voices, we need to protect the people he won't. Please share and contribute to this list – it's updated daily." />
    <meta property="og:image" content="http://helpoverhate.com/wp-content/themes/helpoverhate/src/static/img/helpoverhate-social.png" />

    {% block title_tag %}
      <title>Help Over Hate – Organizations to Volunteer and Donate to Following the 2016 Election</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{site.theme.link}}/dist/static/css/main.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/dist/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.theme.link}}/dist/static/img//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/dist/static/img//favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link href="//cloud.typenetwork.com/projects/559/fontface.css/" rel="stylesheet" type="text/css">
        
    <script type="text/javascript" src="{{site.theme.link}}/dist/static/js/modernizr.js"></script>
    <script src="https://use.typekit.net/zsf4bmz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {{ function('wp_head') }}
  </head>
  <body>

  <nav class="global-nav {% if inverse %}color-inverse{% endif %}" aria-label="Primary">
  	  <ul class="global-nav__links">
  	    <a href="/">
  	      <li>Help Over Hate</li>
  	    </a>
  	    <a href="/contact/">
  	      <li>Add An Organization</li>
  	    </a>
        <li class="copyright">Made by <a href="http://www.upstatement.com">Upstatement</a></li>
  	  </ul>
	</nav>

  {# the following if statements (with "inverse") are identical
     but show a long and a short way of writing the same thing
  #}
  <div class="page-content--wrapper {% if inverse %}color-inverse{% endif %}">
    {% block content_wrapper %}
  		<div class="page-content {{ inverse ? 'color-inverse' }}">
        {% block content %}
          <div class="body-content">
            {% block section_title %}
              <div class="section_title--block">
                <div class="site_title--wrapper">
                  <h1 class="section-title">
                    Help Over Hate
                  </h1>
                </div>
              </div>
              <div class="section_about--block">
                <p>Built for those devastated by the results of the US Presidential election, Help Over Hate is an inventory of organizations that aim to service the communities threatened by a Trump presidency. By donating our time and resources, we hope to help the people he won't. Please share and contribute to this list – it is updated daily. </p>
              </div>
            {% endblock section_title %}
            {% block categories_list %}
              <div class="categories__list--block">
                {# <h2 class="category-title">All Companies</h2> #}
                <ul class="categories__list" role="navigation" aria-label="Issues">
                  <li class="categories__list--category">
                    <a class="categories__list--category-link" href="/">All Issues</a>
                  </li>
                  {% for category in categories %}
                    <li class="categories__list--category">
                      <a class="categories__list--category-link" href="/category/{{category.slug}}/">{{category.name}}</a>
                    </li>
                  {% endfor %}
                </ul>
                
              </div>
            {% endblock categories_list %}
            {% block archive_companies %}
              <div class="archive-companies__controls">
                <h2 class="archive-companies__hed">Organizations</h2>
                <div class="list-expand__toggle">
                  <h3 class="list-expand__toggle--label">Condensed View</h3> 
                  <button class="list-expand__toggle--less active" aria-label="Show less information"></button>
                  <button class="list-expand__toggle--more" aria-label="Show more information"></button>
                </div>
              </div>
              <div class="archive-companies" id="archive">
                {% for post in posts %}
                  <div class="archive-company" itemscope itemtype="http://schema.org/ProfessionalService">
                    <div class="l__block-1">
                      <a class="archive-company__name" href="{{post.link}}" id="{{post.title}}"><span itemprop="name">{{post.title}}</span></a>
                      {% if post.url %}
                        <p class="archive-company__site--dot">・</p>
                        <a class="archive-company__site" itemprop="url" href="{{post.url}}" target="_blank">{{post.url}}</a>
                      {% endif %}
                      <div class="archive-company__description" itemprop="description">
                        <span class="archive-company__description--lead-in">In Their Own Words:</span>
                        {{ post.content }}
                      </div>
                    </div>
                    <div class="archive-company__divider"></div>
                    <div class="l__block-2">
                      <div class="archive-company__specialties">
                        {% for category in post.categories %}  
                          <a class="archive-company__specialty" href="{{category.link}}">{{category.slug}}</a>
                        {% endfor %}
                      </div>
                      {% if post.city or post.state %}
                      <div class="archive-company__location">
                        {{ post.city }}{{ post.city and post.state ? ', '}}{{ post.state }}
                      </div>
                      {% endif %}
                      
                      
                      {% if post.url %}
                        <a class="archive-company__site" href="{{post.url}}" target="_blank">{{post.url}}</a>
                      {% endif %}
                      {% if post.email %}
                        <br>
                        <a class="archive-company__email" href="mailto:{{ post.email }}">
                          <span itemprop="email">{{ post.email }}</span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 11"><defs><style>.a,.b{fill:#ffeae2;stroke:#EA615A;}.b{stroke:#EA615A;}</style></defs><title>Artboard 8</title><rect class="a" x="0.5" y="0.5" width="15" height="10"/><path d="M15,1v9H1V1H15m1-1H0V11H16V0Z"/><polyline class="b" points="1 1 8 7 15 1"/><line class="b" x1="5" y1="5" x2="1" y2="10"/><line class="b" x1="11" y1="5" x2="15" y2="10"/></svg>
                        </a>
                      {% endif %}
                      <button class="archive-company__expand-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 6"><defs><style>.a{stroke-width:.1;}</style></defs><title>Artboard 1 copy 4</title><circle class="a" cx="3" cy="3" r="2.5"/><path d="M3,1A2,2,0,1,1,1,3,2,2,0,0,1,3,1M3,0A3,3,0,1,0,6,3,3,3,0,0,0,3,0Z"/><circle class="a" cx="11" cy="3" r="2.5"/><path d="M11,1A2,2,0,1,1,9,3a2,2,0,0,1,2-2m0-1a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z"/><circle class="a" cx="19" cy="3" r="2.5"/><path d="M19,1a2,2,0,1,1-2,2,2,2,0,0,1,2-2m0-1a3,3,0,1,0,3,3,3,3,0,0,0-3-3Z"/></svg>
                      </button>
                      <button class="archive-company__collapse-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.a{fill:none;stroke-width:.9;}</style></defs><title>Artboard 1 copy 3</title><line class="a" x2="12" y2="12"/><line class="a" x1="12" y2="12"/></svg>
                      </button>
                    </div>
                  </div>
                {% endfor %}
              </div> {# archive-companies #}
            {% endblock archive_companies %} 
            {% if pagination.total > 1 %}
            <div class="tool-pagination">
                {% if pagination.prev %}
                  <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
                {% endif %}
                <ul class="pages">
                  {% for page in pagination.pages %}
                    <li>
                      {% if page.link %}
                        <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                      {% else %}
                        <span class="{{page.class}}">{{page.title}}</span>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
                {% if pagination.next %}
                  <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endblock content %}
  		</div>
    {% endblock content_wrapper %}

  </div>

  <footer class="global-footer {% if inverse %}color-inverse{% endif %}">
      <ul>
        <li>Made by <a href="http://www.upstatement.com">Upstatement</a></li>
        {# <li><a href="mailto:info@upstatement.com">info@upstatement.com</a></li> #}
      </ul>
  </footer>
  <script src="{{site.theme.link}}/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{site.theme.link}}/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="{{site.theme.link}}/dist/static/js/form.js"></script>
 <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADXNKuWEVzH3Tf0kq8hbKYEhGQOfGGJ4k"></script> -->
  <script src="{{site.theme.link}}/dist/static/js/bostonbuilt.main.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15753546-7', 'auto');
  ga('send', 'pageview');

  </script>
  {{ function('wp_footer') }}
    </body>
</html>