{% extends 'index.twig' %}
  {% block title_tag %}
    <title>{{ post.title }} - Help Over Hate</title>
  {% endblock %}
{% block content_wrapper %}
		<div class="page-content" itemscope itemtype="http://schema.org/ProfessionalService">
      {% block content %}
  		  <h1 class="page-title" itemprop="name">{{ post.title }}</h1>
        <div class="tags">
          {% for category in post.categories %}
          <a class="page-tag" href="{{ category.link }}">#{{ category.slug }}</a>
         {% endfor %}
        </div>
  		  <div class="body-content" itemprop="description">
          {{ post.content }}
        </div>


        <div class="contact-info">
          {% if post.url %}
              <a href="{{ post.url }}" target="_blank" class="contact-info--site" itemprop="url">{{ post.url }}</a>
          {% endif %}

          {% if post.phone_number%}
              <p class="contact-info--dot">・</p>
              <a class="contact-info--phone" href="tel:+1-{{ post.phone_number }}">
              <span itemprop="telephone">{{ post.phone_number }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.97 14.93">
                <defs>
                  <style>
                    .a{fill:none;stroke:#EA615A;stroke-miterlimit:10;}
                  </style>
                </defs>
                <path d="M3.61 2.51a.62.62 0 0 1 .39.16l1.21 1.16a.55.55 0 0 1 .17.46.71.71 0 0 1-.2.49l-.62.62a1.88 1.88 0 0 0 0 2.6L7 10.46a1.87 1.87 0 0 0 2.63 0l.65-.65a.67.67 0 0 1 .87 0L12.3 11a.55.55 0 0 1 .17.46.84.84 0 0 1-.2.49l-1.67 1.64a1.61 1.61 0 0 1-1 .34c-2.45 0-7-3.92-8.26-7.11-.66-1.68-.07-2.22.15-2.43l1.69-1.72a.62.62 0 0 1 .44-.16m0-1A1.61 1.61 0 0 0 2.47 2L.74 3.69c-.6.56-1.12 1.58-.37 3.49 1.31 3.31 6.11 7.74 9.19 7.74a2.57 2.57 0 0 0 1.72-.61L13 12.59a1.84 1.84 0 0 0 .47-1.17 1.55 1.55 0 0 0-.47-1.16L11.84 9.1a1.66 1.66 0 0 0-2.29 0l-.65.65a.87.87 0 0 1-1.21 0L5.27 7.32a.87.87 0 0 1 0-1.21l.65-.65a1.74 1.74 0 0 0 .47-1.17 1.55 1.55 0 0 0-.47-1.17L4.75 2a1.61 1.61 0 0 0-1.14-.45z"/>
                <path class="a" d="M10 4.92l4-4M8.5 3V0M11 6.5h4"/>
              </svg>
            </a>
          {% endif %}

          {% if post.email %}
              <p class="contact-info--dot">・</p>
              <a class="contact-info--email" href="mailto:{{ post.email }}">
                <span itemprop="email">{{ post.email }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 11"><defs><style>.a,.b{fill:#FAF2EF;stroke:#EA615A;}.b{stroke:#EA615A;}</style></defs><title>Artboard 8</title><rect class="a" x="0.5" y="0.5" width="15" height="10"/><path d="M15,1v9H1V1H15m1-1H0V11H16V0Z"/><polyline class="b" points="1 1 8 7 15 1"/><line class="b" x1="5" y1="5" x2="1" y2="10"/><line class="b" x1="11" y1="5" x2="15" y2="10"/></svg>
              </a>
          {% endif %}
        </div> <!-- contact-info -->

        {% if post.street_name %}
          <div class="location-block">
            <div class="location-block--address-wrapper">
              <a href="https://www.google.com/maps/place/{{ post.street_number }}+{{ post.street_name }}+{{ post.street_abbrev }},+{{ post.city }},+{{ post.state }}+{{ post.zip_code }}" itemprop="hasMap">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 31">{# <defs><style>.a{fill:#fff;}.a,.b{stroke:#000;stroke-miterlimit:10;}.b{fill:none;}</style></defs> #}
                  <path class="location-pin-outer" d="M11.5.5A10.94,10.94,0,0,0,.5,11.38h0c0,5.28,8.68,16,11,19.12,2.32-3.08,11-13.92,11-19.12A10.94,10.94,0,0,0,11.5.5Z"/><ellipse class="location-pin-inner" cx="11.5" cy="11.15" rx="4" ry="3.87"/></svg>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{ post.address }}</span><br><span itemprop="addressLocality">{{ post.city }}</span>, <span itemprop="addressRegion">{{ post.state }}</span> <span itemprop="postalCode">{{ post.zip_code }}</span></p>
              </a>
            </div>
          </div><!-- location-block -->
        {% endif %} <!-- post.street_name -->

      {% endblock content %}
		</div>
{% endblock %}